.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@import 'portfolio/untils/variables';
@import 'portfolio/header';
@import 'portfolio/buttons';
@import 'portfolio/container1';
@import 'portfolio/current';
@import 'portfolio/effect-absolution';
@import 'portfolio/footer';
@import 'portfolio/image';
@import 'portfolio/posts';
@import 'portfolio/text';
@import 'portfolio/overlay';

