body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


body {
    font-family: "Roboto", sans-serif
}

body {
    background-color: var(--white);
}


@import 'webstudio/untils/variables';
@import 'webstudio/untils/placeholder';
@import 'webstudio/header';
@import 'webstudio/effect-absolution';
@import 'webstudio/g';
@import 'webstudio/img';
@import 'webstudio/footer';
@import 'webstudio/profile-card';
@import 'webstudio/menu';
@import 'webstudio/what-we-do';
@import 'webstudio//subscription-form';
@import 'webstudio/social-icons';
@import 'webstudio/modal';
@import 'webstudio/futers';
   
img{
  max-width: 100%;
  height: auto;
  display: block;
}

   /* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
      width: 960px;
    }
    .futers-item{
        width: 200px;
    }
    .sss{
        width: 100%;
    }
    .tumb{
       width: 31%;
    }
   /* .what-we-do{
        width: 500px;
    }
    */
 .profile-card{
    width: 220px;
 }
 .Design{
  width: 100%;
font-size: 20px;
padding: 20px 0;
 }
 .Mobile{
  width: 100%;
font-size: 20px;
padding: 20px 0;
 }
 .Dekstop{
  width: 100%;
  font-size: 20px;
  padding: 20px 0;
 }
  }
  
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
    .container {
      width: 720px;
    }
    .futers-item{
        width: 175px;
    }
    .what-we-do{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        position: relative;
        right: 15px;
    }
    .tumb{
      width: 45%;
    }
.profile-card{
    width: 210px;
    margin: 0 76px;
    margin-left: -59px;
    position: relative;
    left: 55px;
}
.postini{
    width: 100%;
    margin-left: 55px;
    margin: 15px;
    transform: scale(0.9);
    position: relative;
    left: 5px;
    display: flex;
    flex-wrap: wrap;
}
.img-our-team{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: space-around;
  justify-content: center;
}
.footer-container{
  margin-left: 0;
}
  }
  
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
    .container {
      width: 540px;
    }
    .futers-item{
      width: 45%;
    }
    .img-our-team{
      display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
     padding-left: 0;
    }
    .what-we-do{
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-left: 0;
    }
    .our-team-title{
      padding-left: 160px;
    }
    .what-we-do-item{
      padding-left: 110px;
    }
    .postini{
      display: flex;
      flex-wrap: wrap;
    }
    .futers-list {
      display: flex;
      flex-wrap: wrap;
    }
    .tumb{
      width: 100%;
    }
    img{
      width: 100%;
    }
    .profile-card{
      width: 100%;
    }
    .footer-wrap{
      display: flex;
      flex-direction: column;
    }
    .subscription-form{
      display: flex;
      flex-direction: column;
    }
    .footer-container{
      margin-left: 0;
      justify-content: center;
    }
  }
  
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .container {
      padding: 0 15px;
      width: 100%;
    }
    .profile-card{
      position: relative;
      right: 65px;
    }
    .our-team-title{
      position: relative;
      right: 50px;
    }
    .tumb{
      position: relative;
    }
    .what-we-do-item{
      position: relative;
    }
    .postini{
      gap: 10px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      left: 15px;
    }
    .effect-absolution-title {
      font-size: 26px !important;
      line-height: 0;
      font-weight: 0;
    }
    .futers-item{
      width: 100%;
    }
  }