.futers{
    padding-top: 94px;
    padding-bottom: 94px;
}

.futers-item p {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #757575;
}

.futers-list{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}