.g{
    text-align: center;
    border: 1px solid #ccc;
    padding: 21px;
    width: 171px;
    height: 46.7px;
    margin: 0 15px;
    border-radius: 5%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        fill: #2196F3;
        border-color: #2196F3;
       }
   }

   .g svg{
    width: 100px;
    height: 50px;

    &:hover svg{
        fill: #2196F3;
       }
   }
