.profile-card {
    text-align: center;
    border: 1px solid #ccc;
    padding: -20px;
    width: 270px;
    }
    
    .profile-card img {
    width: 100%;
    height: auto;
    }
    
    .profile-card h2 {
    margin: 10px 0;
    }
    
    .profile-card p {
    color: gray;
    }   