.profile-card {
    @extend %center;
    border: 1px solid #ccc;
    padding: -20px;
    width: 270px;

    h2 {
        margin: 10px 0;
        }

        p {
            color: gray;
            }   
    }
    
    .profile-card img {
    width: 100%;
    height: auto;
    }