.what-we-do{
    @extend %flex;
    @extend %justify;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 94px;
    padding-bottom: 0;
}

.what-we-do-item p {
    font-size: 36px;
    line-height: 0.8;
    font-weight: 700;
    color: #212121
}

what-we-do,
our-team,
p {
    margin: 0;
}