.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-link {
    color: $accent-color-aqua;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    &:hover {
        color: $accent-color-orange;
    }
}

.header-link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -7px;
    background-color: $accent-color-orange;
}

.header-navigation {
    @extend %flex;
    justify-content: space-between;
    @extend %align;
    width: 100%;
    }
    
    .header-logo img {
    height: 30px; 
    }

    .header-list {
        list-style: none;
        @extend %flex;
        margin: 0;
        padding: 0;
       @extend %align;
        }
        
        .header-item {
        margin: 0 15px;

        :hover{
            color: rgba(33, 150, 243, 1);
        }
        }
    
        .header-item img {
        height: 20px; 
        margin-right: 5px; 
        }
        
        .header-item a {
        text-decoration: none;
        color: #000;
        font-size: 16px;

        &:hover {
            color: #00f;
            }
        }
    
        .header-list .header-item a{
            text-decoration: none;
            position: relative;
        }